.xr-icon {
    --xr-icon-color: inherit;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    position: relative;
    fill: currentColor;
    color: var(--xr-icon-color);
    font-size: inherit;
}

@each $val in primary, info, success, warning, danger {
    .xr-icon--#{$val} {
        --xr-icon-color: var(--xr-color-#{$val});
    }
}