.xr-popconfirm {
    .xr-popconfirm__main {
        display: flex;
        align-items: center;

        i {
            margin-right: 5px;
        }
    }

    .xr-popconfirm__action {
        text-align: right;
        margin-top: 8px;
    }
}